<div class="Header__Wrapper">
  <div class="hamburger" (click)="toggleNavBar()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="nav" [ngClass]="{ open: displayNavBar }">
    <li><a href="javascript:void(0);" class="link">Solutions</a></li>
    <li><a href="javascript:void(0);" class="link">Support</a></li>
    <li><a href="javascript:void(0);" class="link">Partner</a></li>
  </ul>
  <div class="Site__Header_Button" [ngClass]="{ open: displayNavBar }">
    <a href="javascript:void(0);" class="link">Sign In</a>
    <button type="button" class="btn">Try for free</button>
  </div>
</div>
