.nav {
  display: flex;
  justify-content: center;

  li {
    list-style: none;
    padding: 0 24px;
    margin-bottom: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &.open {
    display: block;
    text-align: center;
  }
}

.hamburger {
  display: none;
  width: 35px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
  margin-right: 15px;
  span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
  }
}

.Site__Header_Button {
  position: absolute;
  top: 21px;
  right: 15px;
  transform: translateY(-50%);
  font-size: 13px;

  &.open {
    display: block;
    position: static;
    transform: translate(0, 0);
    a {
      display: block;
      text-align: center;
      margin: 0 0 7px;
      outline: none;
    }
    .btn {
      display: block;
      margin: 0 auto;
      outline: none;
    }
  }

  a {
    margin-right: 36px;
  }

  .btn {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #fff;
    transition: 0.2s linear;
    font-size: 12px;
    padding: 4px 6px;
    &:hover {
      color: #45413d;
      background-color: #f9f9f9;
    }

    &:focus {
      background-color: transparent;
      outline: none;
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav,
  .Site__Header_Button {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
