<div class="Footer__Wrapper">
    <div class="Footer__Wrapper_Item_Logo">
        <a href="javascript:void(0);"><img src="assets/images/test-logo.png" alt=""></a>
    </div>
    <div class="Footer__Wrapper_Item">
        <h4>Product</h4>
        <ul>
            <li><a href="javascript:void(0);" class="link">Home</a></li>
            <li><a href="javascript:void(0);" class="link">Pricing</a></li>
            <li><a href="javascript:void(0);" class="link">What is GDRP</a></li>
            <li><a href="javascript:void(0);" class="link">What is CCPA</a></li>
            <li><a href="javascript:void(0);" class="link">What is LGPD</a></li>
            <li><a href="javascript:void(0);" class="link">Free GDRP Audit</a></li>
            <li><a href="javascript:void(0);" class="link">IAB</a></li>
        </ul>
    </div>
    <div class="Footer__Wrapper_Item">
        <h4>Alternative</h4>
        <ul>
            <li><a href="javascript:void(0);"class="link">Cookiebot</a></li>
            <li><a href="javascript:void(0);"class="link">Cookiepro</a></li>
            <li><a href="javascript:void(0);"class="link">Iubenda</a></li>
        </ul>
    </div>
    <div class="Footer__Wrapper_Item">
        <h4>Company</h4>
        <ul>
            <li><a href="javascript:void(0);"class="link">Blog</a></li>
            <li><a href="javascript:void(0);"class="link">Support</a></li>
            <li><a href="javascript:void(0);"class="link">Reseller</a></li>
            <li><a href="javascript:void(0);"class="link">Privacy Policy</a></li>
            <li><a href="javascript:void(0);"class="link">Terms of Use</a></li>
            <li><a href="javascript:void(0);"class="link">Contact us</a></li>
            <li><button type="button" class="Button__Secondary">Do not sell</button></li>
        </ul>
    </div>

    <div class="Footer__Wrapper_Item_Navigate">
        <button class="btn btn-success request_demo_btn">Request a Demo</button>
        <div class="icon-wrapper">
            <div class="social_link-wrap">
                <a href="javascript:void(0);" class="social_link">
                    <svg height="67px" id="Layer_1" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 67 67"
                         width="67px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M50.837,48.137V36.425c0-6.275-3.35-9.195-7.816-9.195  c-3.604,0-5.219,1.983-6.119,3.374V27.71h-6.79c0.09,1.917,0,20.427,0,20.427h6.79V36.729c0-0.609,0.044-1.219,0.224-1.655  c0.49-1.22,1.607-2.483,3.482-2.483c2.458,0,3.44,1.873,3.44,4.618v10.929H50.837z M22.959,24.922c2.367,0,3.842-1.57,3.842-3.531  c-0.044-2.003-1.475-3.528-3.797-3.528s-3.841,1.524-3.841,3.528c0,1.961,1.474,3.531,3.753,3.531H22.959z M34,64  C17.432,64,4,50.568,4,34C4,17.431,17.432,4,34,4s30,13.431,30,30C64,50.568,50.568,64,34,64z M26.354,48.137V27.71h-6.789v20.427  H26.354z" /></svg>
                </a>
            </div>
            <div class="social_link-wrap">
                <a href="javascript:void(0);" class="social_link">
                    <svg enable-background="new 0 0 56.693 56.693" height="56.693px" id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" width="56.693px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M28.348,5.157c-13.6,0-24.625,11.027-24.625,24.625c0,13.6,11.025,24.623,24.625,24.623c13.6,0,24.623-11.023,24.623-24.623  C52.971,16.184,41.947,5.157,28.348,5.157z M40.752,24.817c0.013,0.266,0.018,0.533,0.018,0.803c0,8.201-6.242,17.656-17.656,17.656  c-3.504,0-6.767-1.027-9.513-2.787c0.486,0.057,0.979,0.086,1.48,0.086c2.908,0,5.584-0.992,7.707-2.656  c-2.715-0.051-5.006-1.846-5.796-4.311c0.378,0.074,0.767,0.111,1.167,0.111c0.566,0,1.114-0.074,1.635-0.217  c-2.84-0.57-4.979-3.08-4.979-6.084c0-0.027,0-0.053,0.001-0.08c0.836,0.465,1.793,0.744,2.811,0.777  c-1.666-1.115-2.761-3.012-2.761-5.166c0-1.137,0.306-2.204,0.84-3.12c3.061,3.754,7.634,6.225,12.792,6.483  c-0.106-0.453-0.161-0.928-0.161-1.414c0-3.426,2.778-6.205,6.206-6.205c1.785,0,3.397,0.754,4.529,1.959  c1.414-0.277,2.742-0.795,3.941-1.506c-0.465,1.45-1.448,2.666-2.73,3.433c1.257-0.15,2.453-0.484,3.565-0.977  C43.018,22.849,41.965,23.942,40.752,24.817z"/></svg></a>
            </div>
         </div>
    </div>
</div>
