.Footer__Wrapper {
  display: flex;
  padding: 40px 0;
  .Footer__Wrapper_Item {
    max-width: calc(495px / 3);
    width: 100%;
    margin-right: 5px;
    h4 {
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 600;
    }

    ul {
      li {
        margin-bottom: 5px;
        a {
          color: #99a49f;
          font-size: 11px;
        }
      }
    }
  }
}

.Footer__Wrapper_Item_Navigate {
  max-width: 120px;
  width: 100%;
  padding-left: 3px;
  .request_demo_btn {
    width: 100%;
    padding: 11px 6px;
    margin-bottom: 23px;
    font-size: 11px;
  }
}

.icon-wrapper {
  display: flex;
  justify-content: space-around;
  padding-right: 8px;

  .social_link-wrap {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 1px solid #39cb73;

    &:first-child {
      margin-right: 2px;
    }
  }

  svg {
    width: 33px;
    height: 33px;

    path {
      fill: #fff;
    }
  }
}

.Footer__Wrapper_Item_Logo {
  max-width: 182px;
  width: 100%;
  padding-right: 50px;
  box-sizing: border-box;
  img {
    width: 100%;
    max-width: 130px;
  }
}

.Button__Secondary {
  background-color: #2e6da4;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #fff;
  font-size: 9px;
}

@media screen and (max-width: 768px) {
  .Footer__Wrapper {
    flex-wrap: wrap;
    .Footer__Wrapper_Item,
    .Footer__Wrapper_Item_Logo,
    .Footer__Wrapper_Item_Navigate {
      max-width: 100%;
    }
  }

  .Footer__Wrapper {
    div.Footer__Wrapper_Item_Logo {
      max-width: 100%;
      margin-bottom: 30px;
      text-align: center;
      padding: 0;
    }
    .Footer__Wrapper_Item {
      max-width: 100%;
      margin: 0 auto 30px;
      h4, li {
        text-align: center;
      }
      .Button__Secondary {
        margin: 0 auto;
      }
    }

    div.Footer__Wrapper_Item_Navigate {
      display: block;
      max-width: 300px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 550px) {
  .Footer__Wrapper {
    div.Footer__Wrapper_Item {
      max-width: 100%;
      margin: 0 0 30px;
    }
  }
}
