@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins';

//$fontPath: './assets/fonts/';

/* Raleway (regular|semibold) */

@font-face {
	font-family: 'Raleway';
	src: url("~src/assets/fonts/Raleway/Raleway-Regular.woff2") format('woff2'),
	url('~src/assets/fonts/Raleway/Raleway-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('~src/assets/fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
	url('~src/assets/fonts/Raleway/Raleway-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
