<form *ngIf="!sent && !error" [formGroup]="contactUsForm" (submit)="sendForm()">
  <div class="form-group">
    <input
      [ngClass]="{ 'has-errors': toHasErrors }"
      formControlName="to"
      type="email"
      class="form-control"
      placeholder="To*"
    />
  </div>
  <div class="form-group">
    <input
      [ngClass]="{ 'has-errors': subjectHasErrors }"
      formControlName="subject"
      type="text"
      class="form-control"
      placeholder="Subject*"
    />
  </div>
  <div class="form-group">
    <textarea
      [ngClass]="{ 'has-errors': bodyHasErrors }"
      formControlName="body"
      class="form-control"
      placeholder="Message*"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-success">Send</button>
</form>

<div *ngIf="sent" class="panel-success">
  <h2>
    Message successfully sent!
  </h2>
  <button (click)="sent = false" type="button" class="btn btn-success">Go back</button>
</div>

<div *ngIf="error" class="panel-success">
  <h2>
    {{ error }}
  </h2>
  <button (click)="error = null" type="button" class="btn btn-success">Go back</button>
</div>
