@import '../../assets/bootstrap-sass/variables';

form {
  margin-top: 45px;
  textarea {
    height: 152px;
    resize: none;
  }
  .has-errors {
    border-color: $brand-danger;
  }
}

button {
  width: 100%;
  margin-top: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

h2 {
  margin: 80px 0;
  text-align: center;
}

.panel-success {
  margin: 80px 0 40px;
}
