<div class="Site__Header">
  <div class="container">
    <div class="row">
      <div class="col">
        <app-header></app-header>
      </div>
    </div>
  </div>
</div>

<div class="Site__Content">
    <div class="heading">
        <div class="container">
            <h1 class="title">Enterprise plans</h1>
            <p>Fill out these details to get started with our enterprise plans.</p>
        </div>
    </div>
    <div class="container">
        <app-contact-us></app-contact-us>
    </div>
</div>

<div class="Site__Footer">
  <div class="container">
    <app-footer></app-footer>
  </div>
</div>
