@import '../assets/bootstrap-sass/variables';

.Site__Header,
.Site__Footer {
  background-color: #45413d;
  color: #fff;
  font-weight: 400;
}

.Site__Header {
  position: relative;
  padding: 11px 0;
}

.Site__Content {
  margin-bottom: 67px;
  h1 {
    margin: 0 0 60px;
    position: relative;
    &:after {
      content: '';
      border-bottom: 2px solid #39cb73;
      text-align: center;
      width: 38px;
      top: 62px;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
      z-index: 1;
      position: absolute;
    }
  }
  p {
    font-size: 14px;
  }
  .heading {
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 53px 0 48px;
  }
}

.Site__Footer {
  background-color: #393939;
  .container {
    max-width: 852px;
  }
}

.blue-button {
  background-color: #2e6da4;
}
