@import './assets/bootstrap-sass/variables';
@import './assets/scss/fonts';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_normalize';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_grid';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_buttons';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_forms';

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #f9f9f9;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.link {
  color: #fff;
  text-decoration: none;
  transition: .2s linear;
  font-size: 13px;
  outline: none;

  &:hover {
    color: rgba(255,255,255, .7);
    transition: .2s linear;
  }
}

.btn-success {
  border-radius: 0;
}

.form-control {
  font-size: 12px;
  box-shadow: none;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 495px;
}

h1, h2 {
  font-weight: 300;
  font-size: 28px;
}


